.update-category {
  margin-top: 25px;
}

.category-container {
  padding-bottom: 50px;
  margin: 0;
  margin-top: 10px;
}

.update-category-btn {
  background: rgb(146, 191, 107);
}

.update-category {
  display: flex;
  flex: 1;
  padding: 0 50px;
  gap: 10%;
  text-align: center;
}

.userUpdateItem {
  flex: 1;
}

.userUpdateItem > input,
.userUpdateItem > select,
.userUpdateItem > textarea {
  width: 100%;
  text-align: center;
}
