.userList {
  flex: 4;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit {
  cursor: pointer;
}

.userListEdit:hover {
  background-color: #92bf6b;
}

.userListDelete {
  color: #e86b6e;
  cursor: pointer;
}

.user-add:hover {
  background: #5f81dead;
}

.add-container {
  margin-bottom: 20px !important;
}

.add-container a {
  text-decoration: none;
  color: whitesmoke;
}

.add-container a:hover {
  color: whitesmoke;
}

.grid {
  padding: 20px;
}
