.productUpdateForm,
.userUpdateContent {
  display: flex;
  width: 100%;
  text-align: -webkit-center;
}

.userUpdateContent > * {
  flex: 1;
}

.userUpdateItem {
  width: 75%;
}

.userUpdateItem > textarea {
  height: 100px;
}

.option {
  display: flex;
  align-items: center;
  align-content: center;
  margin-right: 5px;
}

.option > p {
  margin: unset;
}
