.userList {
  flex: 4;
  width: 95%;
  margin: 0px auto;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit {
  padding: 0px 25px 0px 0px;
  color: #92bf6b;
  font-weight: 600;
  cursor: pointer;
  margin-right: 20px;
  background: transparent;
  transition: all 0.3s ease;
}

.userListEdit:hover {
  color: #92bf6b82;
}

.userListDelete {
  color: #e86b6e;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease;
}

.userListDelete:hover {
  color: #e86b6d9e;
}

.user-title,
.user-add {
  margin-bottom: 35px;
  margin-top: 25px;
  text-align: center;
}

.user-add {
  margin-left: 23px;
}

.user-title {
  text-align: center;
}

.scroll,
.MuiDataGrid-columnsContainer {
  background: #f0f0ff;
}

.user-add {
  background: #0d6efd;
  border: unset;
  padding: 10px 25px;
  border-radius: 7px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.user-add:hover {
  background: #5f81dead;
}

.add-container {
  margin-bottom: 20px !important;
}

.add-container a {
  text-decoration: none;
  color: whitesmoke;
}

.add-container a:hover {
  color: whitesmoke;
}

.grid {
  padding: 20px;
}
