.user {
  flex: 4;
  padding: 20px;
}

.userTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userTitle {
  flex: 1;
  text-align: center;
  margin-bottom: 35px;
}

.newUserTitle {
  margin-bottom: 35px;
  margin-top: 25px;
  text-align: center;
}

.userAddButton {
  width: 125px;
  border: none;
  padding: 5px;
  background-color: #92bf6b;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;
}

.userAddButton:hover {
  background-color: #92bf6b98;
}

.userContainer {
  display: flex;
  margin-top: 20px;
}

.userShow {
  flex: 1;
  padding: 25px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.userUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.userShowTop {
  display: flex;
  align-items: center;
}

.userShowImg {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  object-fit: cover;
}

.userShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.userShowUsername {
  font-weight: 600;
  font-size: 17px;
}

.userShowUserTitle {
  font-weight: 300;
}

.userShowBottom {
  margin-top: 20px;
}

.userShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.userShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #444;
}

.userShowIcon {
  font-size: 16px !important;
}

.userShowInfoTitle {
  margin-left: 10px;
}

.userUpdateTitle {
  font-weight: 600;
  text-align: center;
  font-size: 25px;
}

.userUpdateForm {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  height: 100%;
}

.userUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.userUpdateItem > label {
  margin-bottom: 5px;
  font-size: 14px;
}

.userUpdateInput {
  border: none;
  width: 50%;
  height: 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.568);
  margin-bottom: 15px;
}

.user-edit {
  width: 100%;
  height: 85%;
  display: flex;
}

.user-edit > * {
  flex: 1;
  margin: auto 0;
  text-align: -webkit-center;
}

.userUpdateRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userUpdateUpload {
  display: flex;
  align-items: center;
}

.userUpdateImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.userUpdateIcon {
  cursor: pointer;
}

.userUpdateButton {
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #7dc3e2;
  color: white;
  font-weight: 600;
  margin-right: 25px;
}

label {
  font-weight: bold !important;
}
